html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar {
  width: 15%;
  background-color: lightcoral;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: lightblue;
  padding: 20px;
  box-sizing: border-box;
  height: 50px;
}

.footer {
  width: 100%;
  background-color: lightgreen;
  padding: 20px;
  box-sizing: border-box;
  height: 50px;
}

.app {
  display: flex;
}

.main {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

/* TODO */
.task_item {
  display: flex;
  gap: 10px;

  button {
    width: 30px;
    height: 30px;
  }
}

/* Products Page */
.product_list_item {
  display: flex;
  gap: 20px;
  align-items: center;

  .product_image {
    width: 100px;
    height: 100px;
    background-color: lightgray;
  }
}

/* Cart */
.cart_btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: white;
    font-size: 16px;
  }

  .count_bubble {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
